<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    <h1>Welcome to home page</h1>
    <!--Interpolation Syntax: this help us to run js inside html -->
    <!--It basically converts the js output into string & shows it on web page-->
    <p><%= "Wadakam Kashi".toUpperCase() %></p>
    <p><%= ["Hello", "Wadakam", "Namaste"][0] %></p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
      accusantium provident ut tenetur, libero quis cum quas dignissimos soluta
      officia nam veritatis autem, doloremque fugiat laborum ex quidem dolor
      eos.
    </p>
  </body>
  <ul>
    <li>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, laborum!
    </li>
    <li>Consequatur quia dignissimos quod eius ad. Quia dolore ipsa non.</li>
    <li>
      Consequuntur, ex harum? Vitae qui officiis veritatis, commodi rem ex!
    </li>
    <li>
      Error illum minus ea iure amet exercitationem cumque ducimus commodi!
    </li>
  </ul>
  <button>click me</button>
</html>
